{% extends "Base.html" %}

{% block title %} INICIO SESION {% endblock %}

{% block content %}

  <section class="">
    <div class="">
      <div class="">
        <div class="">
          <div class="">
            <div class="">
              <h5 class="">INICIO DE SESIÓN</h5>
            </div>
            <div class="">
              <p class="">¿Ya tienes una cuenta?</p>
              <p class="">Por favor inicie sesión utilizando su correo y contraseña.</p>
              <hr class="">
              <form action="customer-account.html" method="get"> <!--Accion para el boton de Iniciar sesion-->
                <div class="">
                  <label class="" for="emailLogin">Correo</label>
                  <input class="" id="emailLogin" type="text">
                </div>
                <div class="">
                  <label class="" for="passwordLogin">Contraseña</label>
                  <input class="" id="passwordLogin" type="password">
                </div>
                <button class="" type="submit"><i class=""></i>Iniciar sesión</button>
                <div class=""><a class="" href="{% url 'registro' %}">Crear cuenta</a></div>
              </form>
            </div>
          </div>
        </div>

    
  </section>

{% endblock %}