{% extends "Base.html" %}

{% block title %} REGISTRO {% endblock %}

{% block content %}

<section class="">
    <div class="">
      <div class="">
        <div class="">
          <div class="">
            <div class="">
              <h5 class="">REGISTRARSE</h5>
            </div>
            <div class="">
              <p class="">¿Aún no tienes cuenta?</p>
             
             <!-- <p class="text-muted text-sm">If you have any questions, please feel free to <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>-->
              <hr class="">
              <form action="customer-account.html" method="get"> <!--Accion para el boton de Registrar-->
                <div class="">
                  <label class="" for="name">Nombre</label>
                  <input class="" id="name" type="text">
                </div>
                <div class="">
                  <label class="" for="emailSignup">Correo</label>
                  <input class="" id="emailSignup" type="text">
                </div>
                <div class="">
                  <label class="" for="passwordSignup">Contraseña</label>
                  <input class="" id="passwordSignup" type="password">

                </div>
                <button class="" type="submit"><i class=""></i>Registrar</button> 
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}